<%- include("partials/header.ejs", {pageTitle: pageTitle, favRef: favRef, bootstrapCssRef: bootstrapCssRef, cssRef: cssRef}) %>
<%- include("partials/navigation.ejs", {author: author, logoRef: logoRef, btnRef: btnRef}) %>

    <div class="col-lg-10 container-blogs">
      <h1>Blogbeitrag verfassen</h1>
      <hr>
      <div class="row">
        <div class="preview-container">
          <div class="preview-box">
            <form class="" action="<%= formAction %>" method="post">
              <div class="form-group">
                <label for="title">Titel</label>
                <input type="text" id="title" class="form-control title-text" placeholder="Titel hier eingeben" name="title" value="<%= headline %>" required>
              </div>
              <div class="form-group">
                <label for="content">Text</label>
                <textarea id="content" class="form-control content-text" placeholder="Text hier eingeben" name="content" rows="9" cols="80" required><%= content %></textarea>
              </div>
              <button type="submit" class="btn btn-lg float-end">Veröffentlichen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer.ejs", {bootstrapJsRef: bootstrapJsRef}) %>
